<div id="<%= dom_id recipe %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Title:</strong>
    <%= recipe.title %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Instructions:</strong>
    <%= recipe.instructions %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Cook time:</strong>
    <%= recipe.cook_time %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Prep time:</strong>
    <%= recipe.prep_time %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Image url:</strong>
    <%= recipe.image_url %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Rating:</strong>
    <%= recipe.rating %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Category:</strong>
    <%= recipe.category %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Author:</strong>
    <%= recipe.author %>
  </div>
</div>
